BonService/TestClient/Service References/BonWs/BonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IBonService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://bonwebservice.azurewebsites.net/BonService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://bonwebservice.azurewebsites.net/BonService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://bonwebservice.azurewebsites.net/BonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BonService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBonService_GetAllRestaurants_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRestaurants" />
  </wsdl:message>
  <wsdl:message name="IBonService_GetAllRestaurants_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRestaurantsResponse" />
  </wsdl:message>
  <wsdl:message name="IBonService_GetFilteredRestaurants_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilteredRestaurants" />
  </wsdl:message>
  <wsdl:message name="IBonService_GetFilteredRestaurants_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilteredRestaurantsResponse" />
  </wsdl:message>
  <wsdl:message name="IBonService_GetCurrentlyOpenRestaurants_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentlyOpenRestaurants" />
  </wsdl:message>
  <wsdl:message name="IBonService_GetCurrentlyOpenRestaurants_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentlyOpenRestaurantsResponse" />
  </wsdl:message>
  <wsdl:portType name="IBonService">
    <wsdl:operation name="GetAllRestaurants">
      <wsdl:input wsaw:Action="http://tempuri.org/IBonService/GetAllRestaurants" message="tns:IBonService_GetAllRestaurants_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBonService/GetAllRestaurantsResponse" message="tns:IBonService_GetAllRestaurants_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilteredRestaurants">
      <wsdl:input wsaw:Action="http://tempuri.org/IBonService/GetFilteredRestaurants" message="tns:IBonService_GetFilteredRestaurants_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBonService/GetFilteredRestaurantsResponse" message="tns:IBonService_GetFilteredRestaurants_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentlyOpenRestaurants">
      <wsdl:input wsaw:Action="http://tempuri.org/IBonService/GetCurrentlyOpenRestaurants" message="tns:IBonService_GetCurrentlyOpenRestaurants_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBonService/GetCurrentlyOpenRestaurantsResponse" message="tns:IBonService_GetCurrentlyOpenRestaurants_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBonService" type="tns:IBonService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllRestaurants">
      <soap:operation soapAction="http://tempuri.org/IBonService/GetAllRestaurants" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilteredRestaurants">
      <soap:operation soapAction="http://tempuri.org/IBonService/GetFilteredRestaurants" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentlyOpenRestaurants">
      <soap:operation soapAction="http://tempuri.org/IBonService/GetCurrentlyOpenRestaurants" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IBonService" type="tns:IBonService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IBonService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllRestaurants">
      <soap:operation soapAction="http://tempuri.org/IBonService/GetAllRestaurants" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilteredRestaurants">
      <soap:operation soapAction="http://tempuri.org/IBonService/GetFilteredRestaurants" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentlyOpenRestaurants">
      <soap:operation soapAction="http://tempuri.org/IBonService/GetCurrentlyOpenRestaurants" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BonService">
    <wsdl:port name="BasicHttpBinding_IBonService" binding="tns:BasicHttpBinding_IBonService">
      <soap:address location="http://bonwebservice.azurewebsites.net/BonService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IBonService" binding="tns:BasicHttpsBinding_IBonService">
      <soap:address location="https://bonwebservice.azurewebsites.net/BonService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>